html {
    font-family: sans-serif;
    line-height: 1.15;
    font-size:100%;
    scroll-behavior: smooth;
}

#exp {
    margin-top: 0px;
    text-align: center;
    padding-top: 2vw;
  }
  
  @media (min-width: 600px) {
    #exp {
      font-size: 4vw;
    }
  }
  
  @media (min-width: 800px) {
    #exp {
      font-size: 3vw;
    }
    #avatar {
      padding-top: 2vh;
    }
  }
  
  @media (min-width: 1000px) {
    #exp {
      font-size: 2.4vw;
    }
  }

a {
    color: #92D8F0;
    text-decoration:none;
    font-weight: bold;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

a:hover {
    color: #92D8F0;
    font-weight:bold;
    top: -5px;
}


root {
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #37537D;
    --secondary:#9ac9d9;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #000000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --swiper-theme-color: #000;
}

.highlight {
    color: #92D8F0;
}

.container,
.container-fluid {
    width: 100vw;
    height: 100vh;
    margin-right: 0rem;
    margin-left: 0rem;
}


.change-container {
    width: 100vw;
    height: 100vh;
    margin-right: 0rem;
    margin-left: 0rem;
    flex-direction: row;
}


.img-profile {
    width: 35vw;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom: 5vh;
    align-self:center;
    display:block;
}

.masthead {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 20rem;
    padding-top:30px;
    padding-bottom:5rem;
    background: url("../img/PersonalWebsiteBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
.masthead-text{
    margin:auto;
    text-align: center;
}
.masthead-title{
    font-family: "Verdana";
    margin: auto;
    color: #37537D;
    font-size: 4vw;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.masthead-title:hover {
    top: -1.5vw;
}
.masthead-subtitle{
    font-family: "Verdana";
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 10rem;
    margin-left: 0.5rem;
    color: #37537D;
    font-size: 1.5vw;
    line-height: 3rem;
    font-style: italic;
    text-align: center;
}

.arrow-container {
    width: 25px;
    /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    height: 20px;
    margin-top:25vh;
    margin-left: 20vw;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
.scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}
  
.scroll-down {
    position: absolute;
    bottom: 2px;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
  
.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
  
@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}

.about-section {
    background: url("../img/Footer.png");
    width: 100vw;
    height: 100vh;
    padding-top: 6rem;
    padding-bottom:5rem;
    height: auto;
    align-items: center;
    flex-direction: row;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.about-text{
    margin:auto;
    align-items: center;
}

.about-title{
    font-family: "Verdana";
    margin:auto;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding-bottom: 5vh;
}

.about-main{
    width:75vw;
    font-family: "Verdana";
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: italic;
    text-align: left;
    padding-bottom: 5rem;
    padding-left: 25vw;
}

.icon-container1 {
    flex-direction: row;
    vertical-align: center;
}

.img-icon1 {
    color: white;
    margin-left:40vw;
    vertical-align: center;
}

.img-icon2 {
    color: white;
    margin-left:50vw;
    margin-top: 0vh;
    vertical-align: center;
}

.img-icon3 {
    color: white;
    margin-left:60vw;
    margin-top: 0vh;
    vertical-align: center;
}

.img-icon {
    color: #37537D;
}

.img-icon-white {
    color: #ffffff;
}


.experience-section{
    background:url("../img/Footer.png");
    width: 100vw;
    height: 100vh;
    padding-top:6rem;
    padding-bottom: 5rem;
    align-content: center;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.experience-main{
    font-family: "Verdana";
    margin:auto;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    line-height: 1.2rem;
}

.experience-caption{
    font-family: "Verdana";
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    text-emphasis: bold;
    line-height: 1.5rem;
}

.experience-company{
    font-family: "Verdana";
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline ;
    line-height: 1.5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 5rem;
    justify-content: center;
}

.img-experience{
    display: block;
    max-width:100%;
    height:auto;
    align-content: center;
}

.portfolio-item{
    position: relative;
    display: block;
    max-width: 25rem;
    border-radius: 0.5rem;
    justify-content: center;
    overflow: hidden;
    top: 0;
    transition: top ease 0.5s;
    margin-left:5vw
}

.portfolio-item:hover{
    top: -10px;
}

.portfolio-item .portfolio-item-caption {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    background-color: rgba(176, 172, 172, 0.8);
    align-items: center;
    justify-content: center;
    width:100%;
}

.portfolio-item .portfolio-item-caption:hover {
    opacity: 1;
}
  
.portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
    font-size: 1.5rem;
    text-align: center;
    color:white;
}

.portfolio-title{
    font-family: "Verdana";
    margin:auto;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.projects-section{
    background: url("../img/Footer.png");
    width: 100vw;
    height:100vh;
    padding-top:8rem;
    padding-bottom:3rem;
    align-content: center;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.project-icon-font{
    font-family: "Verdana";
    margin:auto;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    line-height: 2rem;
    font-style: bold;
}

.swiper-container {
    width: 100vw;
    height: 40vh;
    background:#37537D;
    margin-top:5rem;
    margin-bottom:5vh;
    --swiper-navigation-color: #92D8F0;
    --swiper-theme-color: #ffffff;
}

.swiper-slide {
    width:40%;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.swiper-icon{
    color:#37537D;
}


.slide-title{
    font-family: "Verdana";
    margin: auto;
    color:#37537D;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    line-height: 1.5rem;
    align-items: center;
    padding-top:1.5rem;
    padding-bottom:1rem;
}

.slide-text{
    font-family: "Verdana";
    margin: auto;
    color: #37537D;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    align-items: center;
    font-style:italic;
    font-weight: bold;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:20rem;
    padding-top:2rem;

}

.footer-section
{
    background: url("../img/Footer.png");
    width: 100vw;
    height:100vh;
    margin-top:0rem;
    padding-top:2rem;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.footer-text
{
    font-family: "Verdana";
    margin: auto;
    color: white;
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.5rem;
    align-items: center;
    padding:0.5rem;

}


.col-lg-8, .col-md-6, .col-lg-4{
    position: relative;
    width: 100vw;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}


.rounded {
    border-radius: 0.5rem !important;
    margin-bottom: 3rem;
}


.h-100{
    height: 100%;
}

.h-30{
    height:30%;
}

.align-items-center{
    display: center;
}

.d-flex{
    display: flex;
}
@media (max-height: 800px) {

    .experience-section{
        background: url("../img/Footer.png");
        width: 100vw;
        height: 100vh;
        padding-top:6rem;
        padding-bottom: 20rem;
        align-content: center;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
  
}

@media (max-width: 1500px) {
    .swiper-slide {
        width: 80%;
        text-align: center;
        background: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        align-items: center;
        overflow: hidden;
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    .slide-title{
        font-family: "Verdana";
        margin: auto;
        color:#37537D;
        font-size: 1.3rem;
        text-align: center;
        font-weight: bold;
        line-height: 1.5rem;
        align-items: center;
        padding-top:1.5rem;
        padding-bottom:1rem;
    }
    
    .slide-text{
        font-family: "Verdana";
        margin: auto;
        color: #37537D;
        font-size: 0.8rem;
        text-align: center;
        line-height: 1.2rem;
        align-items: center;
        font-style:italic;
        font-weight: bold;
        padding-left:2rem;
        padding-right:2rem;
        padding-top:1.5rem;
    
    }
    .experience-section{
        background: url("../img/Footer.png");
        width: 100vw;
        height: 100vh;
        padding-top:6rem;
        padding-bottom: 20rem;
        align-content: center;
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
    }
    .swiper-container {
        width: 100vw;
        height: 60vh;
        background:#37537D;
        margin-top:5rem;
        margin-bottom:5vh;
        --swiper-navigation-color: #92D8F0;
        --swiper-theme-color: #ffffff;
    }
    
    
    
}
@media (max-width: 1000px) {
    .masthead-subtitle{
        font-family: "Verdana";
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 10rem;
        margin-left: 0.5rem;
        color: #37537D;
        font-size: 2vw;
        line-height: 3rem;
        font-style: italic;
        text-align: center;
    }
    .portfolio-item{
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: 0.5rem;
        overflow: hidden;
        top: 0;
        transition: top ease 0.5s;
        margin-left:3vw;
    }
    .slide-title{
        font-family: "Verdana";
        margin: auto;
        color:#37537D;
        font-size: 1rem;
        text-align: center;
        font-weight: bold;
        line-height: 1.5rem;
        align-items: center;
        padding-top:1.5rem;
        padding-bottom:1rem;
    }
    
    .slide-text{
        font-family: "Verdana";
        margin: auto;
        color: #37537D;
        font-size: 0.5rem;
        text-align: center;
        line-height: 1.5rem;
        align-items: center;
        font-style:italic;
        font-weight: bold;
        padding-left:2rem;
        padding-right:2rem;
        padding-bottom:20rem;
        padding-top:3rem;
    
    }
    
}

@media (max-width: 750px) {
    .change-container {
        width: 100vw;
        height: 100vh;
        margin-right: 0rem;
        margin-left: 0rem;
        flex-direction: column;
        align-content: center;
    }
    .masthead-title{
        font-family: "Verdana";
        margin: auto;
        color: #ffffff;
        /*color: #37537D;*/
        font-size: 6vw;
        position: relative;
        top: 0;
        transition: top ease 0.5s;
    }
    .masthead-subtitle{
        font-family: "Verdana";
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 3rem;
        margin-left: 0.5rem;
        color: #ffffff;
        font-size: 3vw;
        line-height: 3rem;
        font-style: italic;
        text-align: center;
    }
    .img-profile {
        width: 35vw;
        height: auto;
        margin-left: auto;
        margin-right:auto;
        margin-top:auto;
        margin-bottom: 20vh;
        align-self:center;
        display:block;
    }
    .arrow-container {
        width: 25px;
        /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
        animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
        cursor: pointer;
        height: 20px;
        margin-left: 30vw;
    }
    .portfolio-item{
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: 0.5rem;
        overflow: hidden;
        top: 0;
        transition: top ease 0.5s;
        margin-left:1vw;
    }


}



